# Ignore node_modules in any subdirectory
**/node_modules/
package-lock.json

# --- Ruby Gems Projects ---
# **/vendor/bundle/
# **/.bundle/
# **/*.gem
# **/pkg/
# **/coverage/
# **/.yardoc/
# **/.rdoc/
# **/log/
# **/tmp/
